xml-resources/web-service-references/service/wsdl/localhost_8080/miPrimerWebServic/service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.das.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.das.com/" name="service">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.das.com/" schemaLocation="http://localhost:8080/miPrimerWebServic/service?xsd=1"/>
</xsd:schema>
</types>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="UpdateUser">
<part name="parameters" element="tns:UpdateUser"/>
</message>
<message name="UpdateUserResponse">
<part name="parameters" element="tns:UpdateUserResponse"/>
</message>
<portType name="service">
<operation name="find">
<input wsam:Action="http://controller.das.com/service/findRequest" message="tns:find"/>
<output wsam:Action="http://controller.das.com/service/findResponse" message="tns:findResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://controller.das.com/service/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://controller.das.com/service/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://controller.das.com/service/insertRequest" message="tns:insert"/>
<output wsam:Action="http://controller.das.com/service/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="UpdateUser">
<input wsam:Action="http://controller.das.com/service/UpdateUserRequest" message="tns:UpdateUser"/>
<output wsam:Action="http://controller.das.com/service/UpdateUserResponse" message="tns:UpdateUserResponse"/>
</operation>
</portType>
<binding name="servicePortBinding" type="tns:service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="service">
<port name="servicePort" binding="tns:servicePortBinding">
<soap:address location="http://localhost:8080/miPrimerWebServic/service"/>
</port>
</service>
</definitions>